<!DOCTYPE html>
<html>
<head>
	<title>Butterflies</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/style.css">
	
</head>
<body>
	<h1>About butterflies</h1>
	<img src="static/butterfly.jpg" alt="pretty butterfly" width="300px">
	<img src="static/iznatrailer.jpg" alt="pretty izna" width="300px">

	<p>Butterflies are winged insects from the lepidopteran superfamily Papilionoidea, 
	characterised by large, often brightly coloured wings that often fold together when at rest, 
	and a conspicuous, fluttering flight.</p>
	<p>Butterflies also appeared as motif in izna's debut trailer</p>
	
	<a href="/">Return to main</a>
</body>
</html>
